*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-scheme-1-background: var(--color-mariner-lightest);
  --color-neutral-darkest: #02060a;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9d9da;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b4b5;
  --color-neutral: #808284;
  --color-neutral-dark: #4d5053;
  --color-neutral-darker: #1b1e22;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-mariner-lighter);
  --color-scheme-1-accent: var(--color-mariner);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
  --opacity-neutral-darkest-10: rgba(2, 6, 10, 0.1);
  --opacity-neutral-darkest-15: rgba(2, 6, 10, 0.15);
  --opacity-neutral-darkest-20: rgba(2, 6, 10, 0.2);
  --opacity-neutral-darkest-30: rgba(2, 6, 10, 0.3);
  --opacity-neutral-darkest-40: rgba(2, 6, 10, 0.4);
  --opacity-neutral-darkest-50: rgba(2, 6, 10, 0.5);
  --opacity-neutral-darkest-60: rgba(2, 6, 10, 0.6);
  --color-mariner-lightest: #f6f4f1;
  --color-mariner-lighter: #eee9e3;
  --color-mariner-light: #c3b49d;
  --color-mariner: #c3b49d;
  --color-mariner-dark: #88765c;
  --color-mariner-darker: #443b2e;
  --color-mariner-darkest: #332c22;
  --color-scheme-2-text: var(--color-white);
  --color-scheme-2-background: var(--color-mariner);
  --color-scheme-2-border: var(--opacity-white-20);
  --color-scheme-2-accent: var(--color-white);
  --color-scheme-2-foreground: var(--color-mariner-dark);
  --color-red: #ae0000;
  --color-menu-link-hover: #9a8a78;
  --color-menu-link-disabled: #bdbdbd;
  --color-loader-background: #8b6f47;
  --color-loader-text: #2e2f42;

  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Open Sans', sans-serif;

  --transition-curve: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-modal-curve: cubic-bezier(0.34, 1.56, 0.64, 1);

  --transition-duration-0: 0ms;
  --transition-duration-70: 70ms;
  --transition-duration-120: 120ms;
  --transition-duration-140: 140ms;
  --transition-duration-200: 200ms;
  --transition-duration-250: 250ms;
  --transition-duration-300: 300ms;
  --transition-duration-350: 350ms;
  --transition-duration-400: 400ms;
  --transition-duration-600: 600ms;
  --transition-duration-800: 800ms;
  --transition-duration-1000: 1000ms;
  --transition-duration-1400: 1400ms;

  --border-shadow-button:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);

  --modal-animation: modalSlideIn var(--transition-duration-400)
    var(--transition-modal-curve);
  --modal-overlay-animation: modalFadeIn var(--transition-duration-300)
    ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: var(--color-scheme-1-text);
  background: var(--color-scheme-1-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
}

button {
  cursor: pointer;
  border: none;
}

body:has(.order-overlay.is-open) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@supports (scrollbar-width: auto) {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-mariner-lighter) var(--color-mariner-light);
  }
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: var(--color-mariner-lighter);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-mariner-light);
  border-radius: 8px;
  height: 128px;
}
