<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">Чому Хатинка Лапок</h2>

    <div class="about-swiper-container">
      <div class="swiper about-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/about/m_slide01.webp    1x,
                  ./img/about/m_slide01@2x.webp 2x
                "
              />
              <img
                srcset="
                  ./img/about/slide01.webp    1x,
                  ./img/about/slide01@2x.webp 2x
                "
                src="./img/about/slide01.webp"
                alt="Girl helps dog"
                width="1312"
                height="753"
              />
            </picture>
            <p class="slide-text">
              Все почалося у 2015 році з кількох небайдужих людей та одного
              врятованого собаки. Сьогодні ми — один з найбільших притулків у
              регіоні, але наша мета незмінна: дати другий шанс тим, кого
              зрадили.
            </p>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/about/m_slide02.webp    1x,
                  ./img/about/m_slide02@2x.webp 2x
                "
              />
              <img
                class="mob-slide02"
                srcset="
                  ./img/about/slide02.webp    1x,
                  ./img/about/slide02@2x.webp 2x
                "
                src="./img/about/slide02.webp"
                alt="Happy dog"
                width="1312"
                height="753"
              />
            </picture>
            <p class="slide-text text-slide02">
              Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
              безпритульних тварин. Наша мета — не просто дати прихисток, а й
              забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
              родині.
            </p>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/about/m_slide03.webp    1x,
                  ./img/about/m_slide03@2x.webp 2x
                "
              />
              <img
                class="mob-slide03"
                srcset="
                  ./img/about/slide03.webp    1x,
                  ./img/about/slide03@2x.webp 2x
                "
                src="./img/about/slide03.webp"
                alt="Our team"
                width="1312"
                height="753"
              />
            </picture>
            <p class="slide-text">
              "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
              десятків волонтерів, які щодня вкладають свою душу та час у
              турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
              залежить від нас.
            </p>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/about/m_slide04.webp    1x,
                  ./img/about/m_slide04@2x.webp 2x
                "
              />
              <img
                srcset="
                  ./img/about/slide04.webp    1x,
                  ./img/about/slide04@2x.webp 2x
                "
                src="./img/about/slide04.webp"
                alt="Yard"
                width="1312"
                height="753"
              />
            </picture>
            <p class="slide-text">
              Ми створили безпечний та комфортний простір. Кожна тварина отримує
              якісне харчування, своєчасну ветеринарну допомогу, проходить
              соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </p>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/about/m_slide05.webp    1x,
                  ./img/about/m_slide05@2x.webp 2x
                "
              />
              <img
                src="./img/about/slide05.webp"
                srcset="
                  ./img/about/slide05.webp    1x,
                  ./img/about/slide05@2x.webp 2x
                "
                alt="Girl hugging a dog"
                width="1312"
                height="753"
              />
            </picture>
            <p class="slide-text">
              Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
              волонтером, допомогти фінансово або інформаційно. Кожен маленький
              внесок наближає нас до великої мети — світу без безпритульних
              тварин.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-controls">
        <div class="about-pagination"></div>

        <div class="arrow-buttons">
          <button
            class="about-button-prev"
            type="button"
            aria-label="Попередній слайд"
          >
            <svg class="btn-arrow">
              <use href="/img/icons.svg#arrow_back"></use>
            </svg>
          </button>

          <button
            class="about-button-next"
            type="button"
            aria-label="Наступний слайд"
          >
            <svg class="btn-arrow">
              <use href="/img/icons.svg#arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
