<header class="header-section">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="nav-logo logo-link" aria-label="Site logo">
        <svg class="logo-img logo-dark" width="157" height="51">
          <use href="./img/icons.svg#logo"></use>
        </svg>

        <svg class="logo-img logo-light" width="83" height="28">
          <use href="./img/icons.svg#light-logo"></use>
        </svg>
      </a>

      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="#pets-list">Знайди друга</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#about">Про нас</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#faq">Часті запитання</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#stories">Історії успіху</a>
        </li>
      </ul>
      <div class="toggle-switch">
        <label class="switch-label">
          <input type="checkbox" class="checkbox" id="theme-checkbox" />
          <span class="slider">
            <svg class="paw-icon" aria-hidden="true">
              <use href="./img/icons.svg#pawprints"></use>
            </svg>
          </span>
        </label>
      </div>
      <a class="menu-button" href="#pets-list">Взяти друга</a>

      <button
        class="burger-button menu-btn-open"
        type="button"
        aria-label="Відкрити меню"
      >
        <svg class="burger-icon" width="24" height="24">
          <use href="/img/icons.svg#burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
