<section class="list-section" id="pets-list">
  <div class="container">
    <div class="section-desc">
      <h2 class="section-desc-title">Наші хвостики</h2>
      <p class="section-desc-descriptor">
        Вони дуже чекають на знайомство з вами
      </p>
    </div>
    <ul class="categories-list"></ul>
    <ul class="pet-list"></ul>
    <div class="load-more-pets-btn-wrapper is-hidden">
      <button class="load-more-pets-btn" type="button">Показати більше</button>
    </div>
  </div>
</section>
