<section class="list-section" id="pets-list">
  <div class="container">
    <h2 class="section-desc-title">Наші хвостики</h2>
    <h3 class="section-desc-descriptor">
      Вони дуже чекають на знайомство з вами
    </h3>
    <ul class="categories-list"></ul>
    <ul class="pet-list"></ul>
    <div class="load-more-pets-btn-wrapper is-hidden">
      <button
        class="load-more-pets-btn"
        type="button"
        aria-label="Показати більше"
      >
        Показати більше
      </button>
    </div>
  </div>
</section>
