<section class="list-section" id="pets-list">
  <div class="container">
    <div class="section-desc">
      <h2 class="section-desc-title">Наші хвостики</h2>
      <p class="section-desc-descriptor">
        Вони дуже чекають на знайомство з вами
      </p>
    </div>
    <ul class="categories-list">
      <li class="categories-list-item active">Всі</li>
      <li class="categories-list-item">Собаки</li>
      <li class="categories-list-item">Коти</li>
      <li class="categories-list-item">Кролики</li>
      <li class="categories-list-item">Гризуни</li>
      <li class="categories-list-item">Птахи</li>
      <li class="categories-list-item">Тварини з особливими потребами</li>
      <li class="categories-list-item">Терміново шукають дім</li>
    </ul>
    <ul class="pet-list">
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
      <li class="pet-list-item">
        <picture class="pet-image">
          <source
            srcset="
              ./img/pets-list/mob/pet_mob@1x.png 1x,
              ./img/pets-list/mob/pet_mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/pets-list/tab/pet_tab@1x.png 1x,
              ./img/pets-list/tab/pet_tab@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./img/pets-list/desk/pet_desk@1x.png 1x,
              ./img/pets-list/desk/pet_desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/pets-list/desk/pet_desk@2x.png" alt="Pet image" />
        </picture>
        <div class="pet-info">
          <span class="pet-info-category">Декоративний щур</span>
          <h3 class="pet-info-name">Стюарт</h3>
          <ul class="pet-info-categories-list">
            <li class="pet-info-categories-list-item">Гризуни</li>
            <li class="pet-info-categories-list-item">
              Тварини з особливими потребами
            </li>
            <li class="pet-info-categories-list-item">Терміново шукають дім</li>
          </ul>
          <div class="pet-age-and-gender-wrapper">
            <span class="pet-age">1.5 року</span>
            <span class="pet-gender">Хлопчик</span>
          </div>
          <p class="pet-about">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
        </div>
        <a class="pet-more-info" href="/">Дізнатись більше</a>
      </li>
    </ul>
    <div class="load-more-pets-btn-wrapper">
      <button class="load-more-pets-btn" type="button">Показати більше</button>
    </div>
  </div>
</section>
