<button class="scroll-top" type="button" aria-label="До гори" data-scroll-top>
  <svg class="scroll-top__icon" width="24" height="24" aria-hidden="true">
    <use href="./img/icons.svg#stt-paw"></use>
  </svg>

  <span class="scroll-top__tracks" aria-hidden="true">
    <svg class="track track--1" width="18" height="18">
      <use href="./img/icons.svg#stt-paw"></use>
    </svg>
    <svg class="track track--2" width="14" height="14">
      <use href="./img/icons.svg#stt-paw"></use>
    </svg>
    <svg class="track track--3" width="12" height="12">
      <use href="./img/icons.svg#stt-paw"></use>
    </svg>
  </span>
</button>
