:root {
  --color-scheme-1-background: var(--color-mariner-lightest);
  --color-neutral-darkest: #02060a;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9d9da;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b4b5;
  --color-neutral: #808284;
  --color-neutral-dark: #4d5053;
  --color-neutral-darker: #1b1e22;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-mariner-lighter);
  --color-scheme-1-accent: var(--color-mariner);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
  --opacity-neutral-darkest-10: rgba(2, 6, 10, 0.1);
  --opacity-neutral-darkest-15: rgba(2, 6, 10, 0.15);
  --opacity-neutral-darkest-20: rgba(2, 6, 10, 0.2);
  --opacity-neutral-darkest-30: rgba(2, 6, 10, 0.3);
  --opacity-neutral-darkest-40: rgba(2, 6, 10, 0.4);
  --opacity-neutral-darkest-50: rgba(2, 6, 10, 0.5);
  --opacity-neutral-darkest-60: rgba(2, 6, 10, 0.6);
  --color-mariner-lightest: #f6f4f1;
  --color-mariner-lighter: #eee9e3;
  --color-mariner-light: #c3b49d;
  --color-mariner: #c3b49d;
  --color-mariner-dark: #88765c;
  --color-mariner-darker: #443b2e;
  --color-mariner-darkest: #332c22;
  --color-scheme-2-text: var(--color-white);
  --color-scheme-2-background: var(--color-mariner);
  --color-scheme-2-border: var(--opacity-white-20);
  --color-scheme-2-accent: var(--color-white);
  --color-scheme-2-foreground: var(--color-mariner-dark);
  --color-red: #ae0000;

  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: var(--color-scheme-1-text);
  background: var(--color-scheme-1-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

body:has(.modal-backdrop.subscription-open) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
