.hero-faq-section {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  font-family: var(--second-family);
  width: 335px;
  height: 86px;
  max-width: 768px;
  margin-bottom: 40px;
}

.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.box-accordeon {
  border: 0px solid var(--color-scheme-1-border);
  border-radius: 8px;
  width: 335px;
  height: 112px;
  background: var(--color-scheme-1-foreground);
}
