.hero-section {
  padding-top: 64px;
  padding-bottom: 115px;
  background-color: var(--color-mariner-darkest);
  background-image: url('../img/hero/hero-tel.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/hero-tel@2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 235px;
    background-image: url('../img/hero/hero-tabl.webp');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/hero-tabl@2x.webp');
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 128px;
    padding-bottom: 413px;
    background-image: url('../img/hero/hero-desk.webp');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/hero-desk@2x.webp');
  }
}

.title-hero {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);

  margin-bottom: 24px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .title-hero {
    max-width: 622px;
  }
}

@media screen and (min-width: 1440px) {
  .title-hero {
    font-size: 56px;
  }
}

.text-hero {
  color: var(--color-white);
  margin-bottom: 32px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .text-hero {
    max-width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .text-hero {
    font-size: 18px;
  }
}

.btn-hero {
  display: inline-block;
  color: var(--color-white);

  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 24px;

  background-color: var(--color-mariner-dark);

  transition:
    background-color var(--transition-duration-250) var(--transition-curve),
    color var(--transition-duration-250) var(--transition-curve),
    border-color var(--transition-duration-250) var(--transition-curve);
}

.btn-hero:hover {
  background-color: var(--color-mariner-lighter);
  color: var(--color-scheme-1-text);
  border-color: var(--color-mariner-dark);
}

.btn-hero:focus {
  outline: none;
  background-color: var(--color-mariner-light);
  color: var(--color-neutral-darkest);
  border-color: var(--color-neutral-darkest);
}
