.loader {
  position: fixed;
  inset: 0;
  background: rgba(250, 247, 242, 0.85);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  opacity: 1;
  transition:
    opacity var(--transition-duration-350) ease,
    visibility var(--transition-duration-350) ease;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader-content {
  text-align: center;
  animation: fadeScale var(--transition-duration-400) ease;
}

/*  Paw */

.paw {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto 18px;
}

/* пальчики */
.paw span {
  position: absolute;
  width: 20px;
  height: 30px;
  background: var(--color-loader-background);
  border-radius: 50%;
  animation: bounce var(--transition-duration-1400) infinite ease-in-out;
}

/* розташування пальців */
.paw span:nth-child(1) {
  top: 5px;
  left: 20px;
  animation-delay: var(--transition-duration-0);
}

.paw span:nth-child(2) {
  top: 5px;
  right: 20px;
  animation-delay: var(--transition-duration-200);
}

.paw span:nth-child(3) {
  top: 28px;
  left: 2px;
  animation-delay: var(--transition-duration-400);
}

.paw span:nth-child(4) {
  top: 28px;
  right: 2px;
  animation-delay: var(--transition-duration-600);
}

/* подушечка лапки */
.pad {
  position: absolute;
  bottom: 1px;
  left: 22%;
  transform: translateX(-10%);
  width: 52px;
  height: 38px;
  background: var(--color-loader-background);
  border-radius: 50% 50% 40% 40%;
  animation: bounce var(--transition-duration-1400) infinite ease-in-out
    var(--transition-duration-800);
}
/* Text */
.loader-text {
  font-size: 15px;
  color: var(--color-loader-text);
  letter-spacing: 0.4px;
}

/* Animations */

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Pet List Loader */

.pet-list-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75px;
  padding: 15px 0;
}

.pet-list-loader .paw {
  margin: 0 auto;
}
