.order-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--opacity-neutral-darkest-50);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding: 20px;
  animation: var(--modal-overlay-animation);
}

.order-overlay.is-open {
  display: flex;
}

.order-modal {
  position: relative;
  width: 100%;
  max-width: 335px;

  height: auto;
  max-height: 90vh;

  padding: 40px 20px;
  background-color: var(--color-mariner-lightest);
  border-radius: 20px;
  box-shadow: 0 10px 40px var(--opacity-neutral-darkest-30);

  overflow-y: auto;
  animation: var(--modal-animation);
}

@media screen and (min-width: 768px) {
  .order-modal {
    max-width: 704px;
    max-height: 677px;
    padding: 64px 32px;
  }
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 48px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-label {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--color-scheme-1-text);
}

.modal-input {
  font-family: var(--font-family);
  width: 100%;
  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  background: var(--opacity-neutral-darkest-5);
  transition: border-color var(--transition-duration-250) ease-in-out;
}

.modal-input::placeholder {
  color: var(--opacity-neutral-darkest-60);
  font-size: 14px;
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--color-mariner-dark);
  background: var(--color-mariner-lighter);
}

.modal-textarea {
  width: 100%;
  font-family: var(--font-family);
  resize: none;
  height: 180px;

  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 12px;
  background-color: var(--opacity-neutral-darkest-5);
  transition: border-color var(--transition-duration-250) ease-in-out;
}

.modal-textarea::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 81.5px;
  color: var(--color-white);
  background: var(--color-mariner-dark);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1440px) {
  .modal-btn {
    font-size: 16px;
  }
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-mariner-lighter);
  color: var(--color-scheme-1-text);
  border-color: var(--color-mariner-dark);
}

.modal-btn:active {
  outline: none;
  border: 1px solid var(--color-mariner-dark);
  box-shadow: var(--border-shadow-button);
  background: var(--color-mariner-lighter);
}

.error-text {
  position: absolute;
  bottom: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-red);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration-250) ease-in-out;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid,
.modal-textarea:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--color-red);
  color: var(--color-red);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid ~ .error-text,
.modal-textarea:not(:focus):not(:placeholder-shown):invalid ~ .error-text {
  opacity: 1;
}

.order-form.was-validated .modal-input:invalid,
.order-form.was-validated .modal-textarea:invalid {
  border-color: var(--color-red);
  color: var(--color-red);
}

.order-form.was-validated .modal-input:invalid ~ .error-text,
.order-form.was-validated .modal-textarea:invalid ~ .error-text {
  opacity: 1;
}

.order-form.was-validated .modal-input:invalid::placeholder,
.order-form.was-validated .modal-textarea:invalid::placeholder {
  color: var(--color-red);
}
