/* Base styles for mobile devices */
.list-section {
  padding-top: 64px;
  padding-bottom: 32px;
}
.section-desc {
  text-align: center;
  margin-bottom: 32px;
}
.section-desc-title {
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 32px;
}
.categories-list-item {
  position: relative;
  font-size: 14px;
  border-radius: 100px;
  padding: 10px 16px;
  cursor: pointer;
}
.categories-list-item::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 6px;
  height: 1px;
  background-color: var(--color-neutral-darkest);
  transform: scaleX(0);
  transform-origin: right;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-list-item:not(.active):hover::after,
.categories-list-item:not(.active):focus-within::after,
.categories-list-item:not(.active):active::after {
  transform: scaleX(1);
}
.categories-list-item.active {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-scheme-1-foreground);
  font-weight: 500;
}
.pet-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
.pet-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 12px;
  background: var(--color-scheme-1-foreground);
}
.pet-image {
  border-radius: 8px;
}
.pet-info-category {
  font-size: 10px;
}
.pet-info-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.pet-info-categories-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 4px;
}
.pet-info-categories-list-item {
  font-weight: 600;
  font-size: 10px;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  background: var(--opacity-neutral-darkest-5);
}
.pet-age-and-gender-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  font-size: 10px;
  margin-bottom: 16px;
}
.pet-about {
  font-size: 12px;
}
.pet-more-info {
  width: 100%;
  border: 1px solid var(--color-neutral-darkest);
  background-color: var(--color-scheme-1-foreground);
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 14px;
  color: var(--color-neutral-darkest);
  text-align: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: auto;
}
.pet-more-info:hover,
.pet-more-info:focus {
background-color: var(--color-mariner-light);
}
.pet-more-info:active {
box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
background-color: var(--color-mariner-light);
}
.load-more-pets-btn-wrapper {
  text-align: center;
}
.load-more-pets-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 335px;
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 14px;
  color: var(--color-white);
  background: var(--color-mariner-dark);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .load-more-pets-btn:hover {
    border: 1px solid var(--color-mariner-dark);
    background-color: var(--color-mariner-lighter);
    color: var(--color-scheme-1-text);
  }
}
.load-more-pets-btn:active {
  outline: none;
  border: 1px solid var(--color-mariner-dark);
  background: var(--color-mariner-lighter);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
}
.load-more-pets-btn.is-hidden {
  display: none;
}
.load-more-pets-btn-wrapper.is-hidden {
  display: none;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .pet-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .pet-list-item {
    width: calc((100% - 32px) / 2);
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 1439px) {
  .pet-list-item:last-child {
    display: none;
  }
} */

/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .list-section {
    padding-top: 80px;
  }
  .section-desc {
    margin-bottom: 40px;
  }
  .section-desc-title {
    font-size: 48px;
  }
  .section-desc-descriptor {
    font-size: 18px;
  }
  .categories-list {
    margin-bottom: 40px;
  }
  .categories-list-item {
    font-size: 16px;
    border-radius: 100px;
    padding: 10px 16px;
  }
  .pet-list-item {
    max-width: 416px;
  }
  .pet-info-category {
    font-size: 12px;
  }
  .pet-info-name {
    font-size: 24px;
  }
  .pet-info-categories-list-item {
    font-size: 12px;
  }
  .pet-age-and-gender-wrapper {
    font-size: 12px;
  }
  .pet-about {
    font-size: 14px;
  }
  .pet-more-info {
    font-size: 16px;
  }
  .load-more-pets-btn {
    max-width: 192px;
    border: 1px solid var(--color-mariner-dark);
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-mariner-dark);
  }
}
