/* Base styles for mobile devices */
.list-section {
  padding-top: 64px;
  padding-bottom: 32px;
}
.section-desc {
  text-align: center;
  margin-bottom: 32px;
}
.section-desc-title {
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 32px;
}
.categories-list-item {
  font-size: 14px;
  border-radius: 100px;
  padding: 10px 16px;
}
.categories-list-item.active {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-scheme-1-foreground);
  font-weight: 500;
}
.pet-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
.pet-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 12px;
  background: var(--color-scheme-1-foreground);
}
.pet-image {
  border-radius: 8px;
}
.pet-info-category {
  font-size: 10px;
}
.pet-info-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.pet-info-categories-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 4px;
}
.pet-info-categories-list-item {
  font-weight: 600;
  font-size: 10px;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  background: var(--opacity-neutral-darkest-5);
}
.pet-age-and-gender-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  font-size: 10px;
  margin-bottom: 16px;
}
.pet-about {
  font-size: 12px;
}
.pet-more-info {
  width: 100%;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 14px;
  color: var(--color-neutral-darkest);
  text-align: center;
}

.load-more-pets-btn-wrapper {
  text-align: center;
}
.load-more-pets-btn {
  width: 100%;
  max-width: 335px;
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 14px;
  color: var(--color-white);
  background: var(--color-mariner-dark);
}

/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .pet-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .pet-list-item {
    width: calc((100% - 32px) / 2);
  }
  .pet-info-categories-list {
    min-height: 54px;
  }
}

/* Desktop screen styles */
@media only screen and (min-width: 1440px) {
  .list-section {
    padding-top: 80px;
  }
  .section-desc {
    margin-bottom: 40px;
  }
  .section-desc-title {
    font-size: 48px;
  }
  .section-desc-descriptor {
    font-size: 18px;
  }
  .categories-list {
    margin-bottom: 40px;
  }
  .categories-list-item {
    font-size: 16px;
    border-radius: 100px;
    padding: 10px 16px;
  }
  .pet-list-item {
    max-width: 416px;
  }
  .pet-info-category {
    font-size: 12px;
  }
  .pet-info-name {
    font-size: 24px;
  }
  .pet-info-categories-list {
    min-height: 60px;
  }
  .pet-info-categories-list-item {
    font-size: 12px;
  }
  .pet-age-and-gender-wrapper {
    font-size: 12px;
  }
  .pet-about {
    font-size: 14px;
  }
  .pet-more-info {
    font-size: 16px;
  }
  .load-more-pets-btn {
    max-width: 192px;
    border: 1px solid var(--color-mariner-dark);
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-mariner-dark);
  }
}
